<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Dropbox OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-$(DROPBOX_APP_KEY)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>OneDrive OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>KeePass Database</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.keevault.kdbx</string>
				<string>com.keepassium.kdbx</string>
				<string>com.jflan.MiniKeePass.kdbx</string>
				<string>com.kptouch.kdbx</string>
				<string>com.markmcguill.strongbox.kdbx</string>
				<string>com.maxep.mikee.kdbx</string>
			</array>
		</dict>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CloudKeychainAccessGroup</key>
	<string>$(CLOUD_KEYCHAIN_ACCESS_GROUP)</string>
	<key>DropboxAppKey</key>
	<string>$(DROPBOX_APP_KEY)</string>
	<key>OneDriveClientID</key>
	<string>$(ONEDRIVE_CLIENT_ID)</string>
	<key>OneDriveRedirectURI</key>
	<string>msauth.$(PRODUCT_BUNDLE_IDENTIFIER)://auth</string>
	<key>GITCommitHash</key>
	<string>$(GIT_COMMIT_HASH)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>dbapi-2</string>
		<string>dbapi-8-emm</string>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>KeeForge uses Face ID to quickly unlock your password database.</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KeePass Database (kdbx)</string>
			<key>UTTypeIdentifier</key>
			<string>com.keevault.kdbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kdbx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.keevault.kdbx</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KeePass Database (kdbx)</string>
			<key>UTTypeIdentifier</key>
			<string>com.keepassium.kdbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kdbx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.keevault.kdbx</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KeePass Database (kdbx)</string>
			<key>UTTypeIdentifier</key>
			<string>com.jflan.MiniKeePass.kdbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kdbx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.keevault.kdbx</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KeePass Database (kdbx)</string>
			<key>UTTypeIdentifier</key>
			<string>com.kptouch.kdbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kdbx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.keevault.kdbx</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KeePass Database (kdbx)</string>
			<key>UTTypeIdentifier</key>
			<string>com.markmcguill.strongbox.kdbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kdbx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.keevault.kdbx</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KeePass Database (kdbx)</string>
			<key>UTTypeIdentifier</key>
			<string>com.maxep.mikee.kdbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kdbx</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
